@import url(index.html);

:root {
  --vermelho-principal: #dd0404;
  --preto-principal: #000000;
  --branco-principal: #ffff;
  --fonte-principal: "Inter", sans-serif;
}

.cabecalho_menu_home {
  display: flex;
  justify-content: left;
  font-weight: 400;
  margin: 0 0 0 1em;
}

/* EFEITO DE SOMBRA VERMELHO FALA GUERREIRA*/
.cabecalho_logo {
  box-shadow: 0 2px var(--preto-principal);
  filter: drop-shadow(0 2px 1px rgb(243, 62, 62));
}
/* EFEITO DE SOMBRA VERMELHO FALA GUERREIRA */

.cabecalho_link_home {
  display: block;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: var(--preto-principal);
}

/* EFEITO COM CURSOR VERMELHO  */
.cabecalho_link_home:hover {
  color: var(--vermelho-principal);
}
/* EFEITO COM CURSOR VERMELHO */

.carrossel {
  margin: 2em auto;
  width: 900px;
  height: 500px;
  overflow: hidden;
}
/* raquellll*/
.carrossel-slides {
  width: 300%;
  height: 450px;
  display: flex;
  justify-content: center;
}

.carrossel-slides input {
  display: none;
}

.swiper-slide {
  width: 25%;
  position: relative;
}

.swiper-slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -230px;
  display: flex;
}

.manual-btn {
  border: 2px solid #dd1111;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #dd0404;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio1:checked ~ .first {
  margin-left: -25%;
}
