
:root{
--vermelho-principal: #E84268;
--preto-principal: #000000;
--branco-principal:#ffff;
--fonte-principal: 'Inter', sans-serif;

}

body {
    background-color:var(--branco-principal);

}
.css-geral{
    margin: 1;
    padding: 0;
    height: 50%;
}
.cabecalho_menu {
    display: flex;
    justify-content:  center;
    gap: 3%;
    font-family: var(--fonte-principal);
    background: white;
    background-size: contain;
    margin: 1em 0 2em 0;
    width: 104,9rem;
    height: 59,8rem;
  
}

.cabecalho_link {
    text-decoration: none;
    text-align: center;
    color: var(--preto-principal);
}
.container_img{
    padding: 0;
    display:inline-block;
    margin: 4px;
}

.imagem-de-fundo {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.imagem-sobreposta {
    position: relative;
    top:10%;
    left: 10%;
    width: 80%;
    height: 80%;
    object-fit: fill;
}
    
.rodape{
    display:flex;
    justify-content: center;
    margin: 5em 0 0 5em;
    gap: 5%;
    background: white;
    
}

.rodape{
   justify-content: space-between;
    width: 241px;
    height: 94.446px;

}