
:root{
--vermelho-principal: #E84268;
--preto-principal: #000000;
--branco-principal:#ffff;
--fonte-principal: 'Inter', sans-serif;
}

header {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 5%;
    top: 0;
    left: auto;
   }
body {
    background-color:var(--branco-principal);
}
.css-geral{
    margin: 1;
    padding: 0;
    height: 50%;
}
.cabecalho_menu {
    display: grid;
    grid-template-columns: 10% 4% 4% 4% 4% 4%;
    justify-content:  center;
    font-family: var(--fonte-principal);
    background: white;
    background-size: contain;
    margin: 0 10 0em 70;
    width: 104,9rem;
    height: 59,8rem;
}
.cabecalho_link {
    text-decoration: none;
    text-align: center;
    color: var(--preto-principal);
    margin: 2em 0 2em 0;
}

.cabecalho_link_home {
    color:#E84268;
    text-decoration: none;
    margin: 2em 5em 2em 2em;
}
.cabecalho_logo {
  
  justify-content: center;
  width: 241px;
  height: 94.446px; 
  margin: 2em 70 2em 0;
}
.index{
    background-color: var(--preto-principal);
    display: grid;
    grid-template-columns: 20% 50%;
    flex-wrap: wrap;
    justify-content: center;
    
}
.texto_p_index{
    color: #FFF;
    font-family: var(--fonte-principal);
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
        
    }
.index_img{
    padding: 10em 50em 5em 20em;
    width: 1000px;
    height: 600px;
}


.container_about{
    background-color: #000000;   
    /*display:grid;
    grid-template-columns:50% 50% ;
    padding: 7em 20em 7em 20em;*/
    display: flex;
    padding: 7em 0 0 7em;
    align-items:center;
    justify-content: center;
}

.texto p{
    background-color: #D7D7D7;
    border-radius: 1px;
    margin: 7em;
    border: solid 2px #F54952;
    padding: 2em;
    text-align: justify;
<<<<<<< HEAD
=======
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
>>>>>>> 07953a6e0ea509a115d98596fdfeee524423d62e
    font-family: var(--fonte-principal);
}


.revistas{
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.revistas img{
    width: 200px;
    height: 340px;
    /* cima direita embaixo esquerda */
    padding: 09em 1em 10em 0em; 
}
.container_botao{
    color: var(--branco-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
}
.container_botao img{

    width: 24px;
    height: 24px;
}
.imagem-de-fundo {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.imagem-sobreposta {
    position: relative;
    top:10%;
    left: 10%;
    width: 80%;
    height: 80%;
    object-fit: fill;
}
.documentario {
    background-color: #000000;
    display: flex;
    padding: 7em 0 0 7em;
    align-items:center;
    justify-content: center;
}
.documentario_img{
    width: 562px;
    height: 135px; 
    
}
.documentario_texto{
    background-color: #D7D7D7;
    border-radius: 1px;
    margin: 7em;
    border: solid 2px #F54952;
    padding: 2em;
    text-align: justify;
    font-family: var(--fonte-principal);
}
.rodape {
    padding: 5px;
    background: white;
    justify-content: space-around;
  
}
.rodape_falag {
  align-items: center; 
}

.rodape_logo {
    align-items: center; 
}
