
:root{
--vermelho-principal: #E84268;
--preto-principal: #000000;
--branco-principal:#ffff;
--fonte-principal: 'Inter', sans-serif;

}

body {
    background-color:var(--branco-principal);

}
.css-geral{
    margin: 1;
    padding: 0;
    height: 50%;
}
.cabecalho_menu {
    display: flex;
    justify-content:  center;
    gap: 3%;
    font-family: var(--fonte-principal);
    background: white;
    background-size: contain;
    margin: 1em 0 2em 0;
    width: 104,9rem;
    height: 59,8rem;
  
}

.cabecalho_link {
    text-decoration: none;
    text-align: center;
    color: var(--preto-principal);
}

.index{
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
       
}
.index_img{
    margin: 5em 0 5em 0;
    width: 900px;
    height: 500px;

}

.about{
    background-color: #000000;
    display: flex;
    
}
.about img{
    margin: 7em;
    width: 449px;
    height: 500px;
}
.texto{
    background-color: #D7D7D7;
    border-radius: 10px;
    margin: 7em;
    border: solid 2px #F54952;
}
.texto p{
    padding: 2em;
    text-align: justify;
    font-family: var(--fonte-principal);
}
.revistas{
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
.revistas img{
    width: 220px;
    height: 340px;
    /* cima direita embaixo esquerda */
    padding: 5em 1em 5em 1em; 
}
.container_botao{
    color: var(--branco-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
}
.container_botao img{
    width: 24px;
    height: 24px;
}
.imagem-de-fundo {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.imagem-sobreposta {
    position: relative;
    top:10%;
    left: 10%;
    width: 80%;
    height: 80%;
    object-fit: fill;
}


.documentario {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.documentario_img{
    margin: 7em;
    width: 606px;
    height: 332px; 
    padding: 2em 1em 2em 1em;

}

.documentario_texto{
    background-color: #D7D7D7;
    border-radius: 10px;
    margin: 7em;
    border: solid 2px #F54952;
    padding: 2em;
    text-align:justify;
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.rodape{
    display:flex;
    justify-content: center;
    padding: 5em 0 0 5em;
    gap: 5%;
    background: white;
  
    
}
