

.documentario {
    background-color: #000000;
    display: flex;
    padding: 7em 0 0 20em;
    align-items: center;
    justify-content: center;
}

.documentario_img {
    width: 1124px;
    height: 270px;
   
}
.documentario img {
    border: 2px solid #f54952;
    }

.documentario_texto {
    background-color: #D7D7D7;
    border-radius: 5px;
    margin: 7em;
    border: solid 2px #F54952;
    padding: 2vw;
    text-align: justify;
    font-family: var(--fonte-principal);
    font-size: 16px;
}



