:root {
    --vermelho-principal: #E84268;
    --preto-principal: #000000;
    --branco-principal: #ffff;
    --fonte-principal: 'Inter', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    
}
.cabecalho_menu {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    margin-left: 10px;
    color: var(--preto-principal);
    background-color:white;
          
}
  .menu {
    margin-left: 20%;
    align-items: center;
    display: flex;
}
  
  .cabecalho_link {
    color: var(--preto-principal);
    text-decoration: none;
    padding: 2em;
    font-size: 25px;
    
}
  
  .cabecalho_link:hover {
    font-size: 1.2em;
    height: 5px;
    transition: 0.5s;

}
.documentario {
    background-color: #000000;
    display: flex;
    padding: 7em 0 0 7em;
    align-items: center;
    justify-content: center;
}

.documentario_img {
    width: 1124px;
    height: 270px;
   
}
.documentario img {
    border: 2px solid #f54952;
    }

.documentario_texto {
    background-color: #D7D7D7;
    border-radius: 5px;
    margin: 7em;
    border: solid 2px #F54952;
    padding: 2vw;
    text-align: justify;
    font-family: var(--fonte-principal);
    font-size: 16px;
}



