
/* body {
  background-color: var(--preto-principal);
} */
:root {
  --swiper-theme-color: var(--vermelho-principal);

.Carrossel {
  margin-top: 7em;
  background-color: black;
  /* background: var(--preto-principal); */
}

.swiper-slide img {
  width: 90%;
  margin: 0 1em;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

body
  > section.Carrossel
  > div
  > div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: initial;
  background: rgb(255, 255, 255);
  margin-bottom: 1em;
}
body
  > section
  > div
  > div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal
  > span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--vermelho-principal);
}

.card {
  background-color: var(--cor-branca);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.card__descricao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.card__botoes {
  display: flex;
  justify-content: space-between;
}

/* @media  screen (max-width:140px) { */

  .rodape {
    padding: 5px;
    background: white;
    justify-content: space-around;
  
}
