:root {
  --vermelho-principal: #dd0404;
  --preto-principal: #000000;
  --branco-principal: #ffff;
  --fonte-principal: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

header {
  width: 100%;
  height: 130px;
}

.cabecalho_menu_home {
  width: 135px;
  height: 45px;
  float: left;
  text-align: center;
  display: flex;
  margin-top: 120px;
  margin-left: 10px;
  margin-right: auto;
  box-sizing: border-box;
  color: var(--preto-principal);

}

.cabecalho_menu_home a {
  color: var(--preto-principal);
  text-decoration: none;
}

.cabecalho_menu_home a:hover {
  color: var(--vermelho-principal);
  font-size: 1.2em;
  height: 55px;
  transition: 0.5s;
  width: 10px;
  padding-top: -5px;
  box-sizing: border-box;
  pointer-events: painted;
}

#containerMenu {
  width: auto;
  height: 100px;
  box-sizing: border-box;
  padding: 10px;
  float: left;
}

#logo {
  width: 260px;
  height: 130px;
  border: solid 1px var(--preto-principal);
  float: left;
  margin: 20px;
  background-image: url(../imgs/logofalaguerreira.png);
  background-repeat: no-repeat;
}

.bodyHome {
  width: inherit;
  height: 500px;
  background-color: var(--preto-principal);
  margin-top: 10%;
}

#slideHome {
  width: 100%;
  height: 400px;
  float: left;
  margin-bottom: 30px;
  margin: 0;
  overflow: hidden;
  display: flex;
}

figure {
  width: 600px;
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
  float: left;
  justify-content: center;
}

figure img {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  border-radius: 10px;
  float: left;
}

#previous,
#next {
  position: absolute;
  width: 35px;
  height: 300px;
  z-index: 970;
  text-align: center;
  box-sizing: border-box;
  font-size: 3.2em;
  float: left;
  margin-top: 350px;
  color: var(--vermelho-principal);
}

#previous {
  margin-left: 80px;
}

#next {
  margin-left: 1100px;
}

#previous:hover,
#next:hover {
  cursor: pointer;
  transition: 1.5s;
}

.rodape {
  background: white;
  justify-content: space-around;
  height: 20%;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio1:checked ~ .first {
  margin-left: -25%;
<<<<<<< HEAD:home.css
}
=======
}
>>>>>>> c56ff6760b1108adfb96757d42f4cf400459c147:styles/home.css
