.bodyHome {
  height: 100vh;
  background-color: var(--preto-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#slideHome img{
  width: 700px;
  height: 700px;
}

 #slideHome { 
  width: 100%;
  float: left;
  margin-bottom: 30px;
  margin: 0;
  overflow: hidden;
  display: flex;
} 


picture img {
  width: 150%;
  height: 150%;
  display: flex;
  align-content: center;
  border-radius: 10px;
  float: left;
  margin-left: 90%;

}

#previous,
#next {
  position: absolute;
  width: 35px;
  height: 300px;
  z-index: 970;
  text-align: center;
  box-sizing: border-box;
  font-size: 3.2em;
  float: left;
  margin-top: 350px;
  color: var(--vermelho-principal);
}

#previous {
  margin-left: 80px;
}

#next {
  margin-left: 1800px;
}

#previous:hover,
#next:hover {
  cursor: pointer;
  transition: 1.5s;
}

.rodape {
  background: white;
  justify-content: space-around;
  height: 20%;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio1:checked ~ .first {
  margin-left: -25%;
} 
