body{
    display: flex;
    flex-direction: column;
    
}
.cabecalho_menu {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    margin-left: 10px;
    color: var(--preto-principal);
    background-color:white;
          
}
  .menu {
    margin-left: 20%;
    align-items: center;
    display: flex;
}
  
  .cabecalho_link {
    color: var(--preto-principal);
    text-decoration: none;
    padding: 2em;
    font-size: 25px;
    
}
  
  .cabecalho_link:hover {
    font-size: 1.2em;
    height: 5px;
    transition: 0.5s;
}
.revistas{
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.revistas img{
    width: 220px;
    height: 340px;
    /* cima direita embaixo esquerda */
    padding: 10em 2em 10em 2em; 
}